$classes: (
  button: (
    padding: nth($spacings, 2) 0,
    font-size: $fontsize-3,
    line-height: $lineheight-2,
    color: map-get($colors, 'blue'),
    text-decoration: none,
  ),
  "button:after": (
    content: "",
    display: inline-block,
    width: 1.4rem,
    height: 1.4rem,
    margin-left: 0.2rem,
    background-image: url('/assets/images/arrow-right.svg'),
    background-repeat: no-repeat,
    background-position: center,
    background-size: contain,
  ),
);

@include all-sizes($classes);
