$colors: (
  "blue": #0100FF,
  "purple": #33323B,
  "gray": #848388,
  "white": #FFFFFF,
  "light-gray": #EBEAEB,
);

@mixin classes($colors) {
  @each $name, $value in $colors {
    .#{$name} {
      color: $value;
    }
    .bg-#{$name} {
      background-color: $value;
    }

    .fill-#{$name}{
      fill: $value;
    }

    .fill-half-#{$name}{
      fill: rgba($value, 0.5);
    }
  }
}

@include classes($colors);
@each $bp-prefix, $size in $breakpoints {
  @media #{$size} {
    @include classes($colors);
  }
}
