---
---

@charset 'utf-8';

@import 'breakpoints';
@import 'defaults';
@import 'spacing';
@import 'grid';
@import 'layout';
@import 'colors';
@import 'type';
@import 'flex';
@import 'background';
@import 'buttons';
@import 'forms';
@import 'shapes';
// @import 'debug';

::selection {
  background: #0100FF; /* WebKit/Blink Browsers */
  color: #fff;
}

::-moz-selection {
  background: #0100FF; /* Gecko Browsers */
  color: #fff;
  text-decoration-color: #fff;
}
