---
layout: default
---

<div class="fill-vh fill-x overflow-hidden flex flex-column">
  {% include header.html %}
  <div class="my-auto py-5">
    {% include headline.html headline=page.headline_text %}
  </div>
</div>
<div class="overflow-hidden bg-blue">
  {% include feature.html video=page.showreel %}
</div>
<div class="fill-vh overflow-hidden flex flex-column" id="network">
  <div class="my-auto py-5">
    {% include headline.html headline=page.network_description %}
    {% assign publishers = site.publishers | sort: 'position' %}
    {% include lists.html items=publishers %}
  </div>
</div>
<div class="fill-vh overflow-hidden flex flex-column bg-blue" id="work">
  <div class="my-auto py-5">
    {% include headline.html headline=page.work_description inverted=true %}
    <!-- {% include blocks.html %} -->
    {% assign work = site.work | sort: 'position' %}
    {% include projects.html projects=work %}
  </div>
</div>
<div class="fill-vh overflow-hidden flex flex-column" id="contact">
  <div class="my-auto py-5">
    {% include headline.html headline=page.contact_description %}
    <div class="px-col-1 lg-px-col-2 pb-4" id="contact">
      {% include contacts.html contacts=site.contacts %}
    </div>
  </div>
</div>
