---
layout: default
---

<div class="fill-vh fill-x overflow-hidden flex flex-column">
  {% include header.html %}
  <div class="my-auto py-5">
    {% include headline.html headline=page.headline_text %}
  </div>
</div>
<div class="fill-vh overflow-hidden flex flex-column" id="work">
  <div class="my-auto py-5">
    {% include headline.html headline=page.work_description %}
      <!-- {% include blocks.html %} -->
    {% assign work = site.work | sort: 'position' %}
    {% include projects.html projects=work %}
  </div>
</div>
<div class="fill-vh overflow-hidden flex flex-column bg-blue white" id="contact">
  <div class="my-auto py-5">
    {% include headline.html headline=page.contact_description inverted=true %}
    <div class="px-col-1 lg-px-col-2 pb-4 white" id="contact">
      {% include contacts.html contacts=site.contacts %}
    </div>
  </div>
</div>
